@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

html{
  background:#272c27 !important;
}
body{
  background:#272c27 !important;
}

.MuiPaper-root{
  background: #333d3d !important;
}
.App {
  text-align: center;
}

.title {
  font-family: 'Bebas Neue';
  font-size: 78px;
  text-align: start;
}

.titlesub{
  font-size: 48px;
}

.flowchart{
  width:100%;
}

.content {
  font-family: 'Montserrat';
  font-size: 17px;
  text-align: start;
}

.footer {
  font-family: 'Montserrat';
  font-size: 13px;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
